*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Poppins',sans-serif;
background-color:white;
color:#111;
line-height:1.6;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 10%;
background:#111;
position:sticky;
top:0;
z-index:1000;
}

.logo h1{
font-family:'Cormorant Garamond',serif;
font-size:2rem;
color:#d4af37;
}

.logo p{
font-size:.9rem;
color:#ddd;
}

nav a{
color:white;
text-decoration:none;
margin-left:25px;
transition:.3s;
}

nav a:hover{
color:#d4af37;
}

.hero{
height:90vh;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
padding:20px;
background:white;
}

.hero h2{
font-family:'Cormorant Garamond',serif;
font-size:3rem;
color:#111;
margin-bottom:20px;
}

.hero p{
max-width:650px;
margin:auto;
margin-bottom:30px;
}

.button{
display:inline-block;
padding:14px 32px;
background:#d4af37;
color:#111;
text-decoration:none;
border-radius:40px;
font-weight:bold;
transition:.3s;
}

.button:hover{
transform:translateY(-3px);
}

section{
padding:80px 10%;
}

section h2{
font-family:'Cormorant Garamond',serif;
font-size:2.4rem;
color:#d4af37;
margin-bottom:25px;
text-align:center;
}

.gallery{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:25px;
margin-top:40px;
}

.card{
background:#1b1b1b;
border-radius:15px;
overflow:hidden;
transition:.3s;
}

.card:hover{
transform:translateY(-8px);
}

.card img{
width:100%;
height:260px;
object-fit:cover;
}

.card h3{
padding:20px;
text-align:center;
}

.buttons{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
margin-top:30px;
}

.buttons a{
padding:14px 26px;
background:#d4af37;
color:#111;
text-decoration:none;
border-radius:30px;
font-weight:bold;
}

footer{
padding:30px;
text-align:center;
background:#111;
color:#aaa;
}

@media(max-width:768px){

header{
flex-direction:column;
}

nav{
margin-top:15px;
}

nav a{
margin:0 10px;
}

.hero h2{
font-size:2.2rem;
}

}
.logo img{
    width:180px;
    height:auto;
}
